.container{
    width: 1000px;
    margin: 0 auto;
}

.partner-box img{
    max-width: 100%;
    height: auto;
    max-height: 50px;
}
.partner-box {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.partner-box .item{
    flex-basis: calc(100%/5);
    margin-bottom: 20px;
    display: flex; 
    justify-content: center;
}